<div class="form-group">
  <input class="form-control" id = "cpinput"
    placeholder="Current Password" type="password" >
</div>
<div class="form-group">
  <input class="form-control" id = "npinput"
    placeholder="New Password" type="password" >
</div>
<div class="form-group">
  <input class="form-control"
  id="npinput2"
    placeholder="Confirm New Password" type="password" >
</div>
<div class="form-group">
  <style>
    #sendotpbtn{
      width:100%;
    }
  </style>
  <input class="form-control"
  id="otpinput"
    placeholder="Enter OTP" type="text"> <button id = "sendotpbtn" type="button" name="button" (click) = "sendOTP()">Send OTP</button>
</div>
<button type="button" name="button" (click) = "changePasswordNow()">Change Password</button>
